body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
main{
    flex-grow: 1;
    width: 90%;
}
.card{
    margin: 0px 2%;
    display: flex;
    flex-direction: column !important;
    justify-content: space-between !important;
    
}
.row .card-body{
    flex: none !important;
}
.row .img{
    overflow: hidden;
    background-position: center;
    background-size: cover;
}
.row .card-img-top{
    height: 70%;
    width: auto;
}
.show .row {
    flex-wrap: nowrap !important;
}
.show .card{
    width: 90% !important;
}
.show .card-text span{
    font-weight: 600;
    font-size: 2vmin;
}
.show p{
    font-size: 2vmin;
}
.show .showImg{
    position: sticky;
    left: 0;
}
.show .showImg img{
    width: 100%;
}
.search .card{
    width: 15% !important;
}
.row .show {
    width: 60%;
}
.bd-example{
    width: 20%;
}
.bd-example label{
    margin-bottom: 0px !important;
}
.bd-example .input-group{
    align-items: center;
}